<!DOCTYPE html>
<html>
  <head>
    <title>Management System</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <h1>Welcome to the Management System</h1>
    <ul>
      <li><a href="/users">Manage Users</a></li>
      <li><a href="/properties">Manage Properties</a></li>
      <li><a href="/posts">Manage Posts</a></li>
      <li><a href="/ratings">Manage Ratings</a></li>
      <li><a href="/rules">Manage Rules</a></li>
    </ul>
    <%- include('partials/footer') %>
  </body>
</html>
