<!DOCTYPE html>
<html>
  <head>
    <title>Create Rating</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <h1>Create Rating</h1>
    <form action="/createrating" method="post">
      <label for="score">Score:</label>
      <input type="number" id="score" name="score" required />
      <label for="comment">Comment:</label>
      <textarea id="comment" name="comment" required></textarea>
      <button type="submit">Create</button>
    </form>
    <a href="/ratings">Back to List</a>
    <%- include('../partials/footer') %>
  </body>
</html>
