<!DOCTYPE html>
<html>
  <head>
    <title>Create User</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <h1>Create User</h1>
    <form action="/createuser" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
      <label for="age">Age:</label>
      <input type="number" id="age" name="age" required />
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
      <label for="contact">Contact:</label>
      <input type="text" id="contact" name="contact" required />
      <label for="role">Role:</label>
      <input type="text" id="role" name="role" required />
      <button type="submit">Create</button>
    </form>
    <a href="/users">Back to List</a>
    <%- include('../partials/footer') %>
  </body>
</html>
